* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}
::-moz-selection {
    background-color: #ADE1F5;
    color: #fff;
}
  
::selection {
    background-color: #ADE1F5;
    color: #fff;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}
ol, ul {
    padding-left: 0rem;
}
a {
    text-decoration: none;
}
body {
    width: 100%;
}
@font-face {
    font-family: Jomhuria-Regular;
    src: url('../font/Jomhuria-Regular.ttf');
}
@font-face {
    font-family: Inter-SemiBold;
    src: url('../font/Inter-SemiBold.ttf');
}
@font-face {
    font-family: Inter-Light;
    src: url('../font/Inter-Light.ttf');
}
@font-face {
    font-family: Inter-Regular;
    src: url('../font/Inter-Regular.ttf');
}
@font-face {
    font-family: Inter-Bold;
    src: url('../font/Inter-Bold.ttf');
}
#main {
    width: 100%;
}
#header1{
    border-bottom: 1px solid #ccd1d6;
}
#header-2 {
    display: flex;
    box-sizing: border-box;
    height: 100px;
    width: 100%;
    background: #FFFFFF;
    /* position: absolute; */
    bottom: auto;
    align-items: center;
}
#navmenu {
    padding-left: 200px;
    display: flex;
}
#navmenu ul li {
    display: inline-block;
}
#navmenu ul li a{
    font-family: Inter-Regular;
    font-size: 18px;
    color: #000000;
    justify-content: space-between;
    padding: 0 24px;
    line-height: 100px;
    text-decoration: none;
}
#navmenu ul li a:hover{
    color: #71EEFF; 
}
.logo {
    display: flex;
    position: absolute;
    padding-left: 80px;
    padding-top: 20px;
}
.logo a{
    font-family: 'Jomhuria', cursive;
    font-size: 60px;
    color: #000000;
}
#searchbox {
    max-height: 60px;
    max-width: 926px;
    background-color: #fff;
    border: 1px solid #ccd1d6;
    color: #ccc;
    border-radius: 30px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 6px 6px 32px;
    display: flex;
}
#searchbox img {
    padding-right: 10px;

}
button {
    font-family: Inter-Regular;
    font-size: 16px;
    color: #FFFFFF;
    border:none;
}
#search-text{
    border: none;
    color: #000000;
    outline: none;
}
::placeholder { 
    color: #ccd1d6;     /* Firefox, Chrome, Opera */
}
#search-button {
    background-color: #14181f;
    border-radius: 30px;
    margin-left: 1rem;
    padding: 1rem 1.75rem 1rem 2rem;
    line-height: 1rem;
}
#search-button:hover {
    background-color: #71EEFF;
    border: #71EEFF;
}
#nav-contact a{
    font-family: Inter-Regular;
    font-size: 18px;
    color: #000000;
    justify-content: space-between;
    text-decoration: none;
}
#nav-contact a:hover {
    color: #71EEFF; 
}

.username {
    text-decoration: underline;
    color: #000;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.logout {
    background-color: #edf3f2;
    border-radius: 30px;
    padding: 15px 32px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #000;
    margin-right: 40px;
}
.logout:hover{
    background-color: #000;
    color:#fff;
}

.buttonsignin {
    margin-left: auto;
    margin-right: auto;
}
#buttonsignin a{
    text-decoration: none;
}
#Signin{
    font-family: Inter-Regular;
    font-size: 18px;
    width: max-content;
    z-index: 1;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    color: #fff;
    letter-spacing: -.02em;
    cursor: pointer;
    background-color: #71EEFF;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    padding: 18px 50px;
    line-height: 1rem;
    display: flex;
    box-shadow: 3px 4px 0px #000000;
    margin-right: auto;
}

/* #content {

}*/
footer {
    width: fit-content;
    bottom: 0;
    left: 0;
    display: inline;
    width: 100%;
    margin-bottom: 50px;
    height: 400px;
    
} 
#footercontent {
    border-top: 1px solid #ccd1d6;
    padding-top: 50px;
    padding-bottom: 50px;
}
#logoft{
    display: flex;
    position: absolute;
    font-family: 'Jomhuria', cursive;
    font-size: 60px;
    color: #000000;
    /* padding-top: 30px; */
    padding-left: 157px;

}
.row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.3 * var(--bs-gutter-x));
    margin-left: calc(-.3 * var(--bs-gutter-x));
    padding-top: 70px;
    justify-content: center;
}
.nav-illtypes{
    flex: 0 0 auto;
    width: 20%;
    padding-top: 60px;
}
.illustration{
    font-family: Inter-Semibold;
    font-size: 16px;
    width:100%;
}
.types{
    list-style: none;
    padding-left: 0;
    padding-top: 30px;
}
.linkft{
    font-family: Inter-Regular;
    font-size: 16px;
    color:#6A7081;
    justify-content: space-between;
    text-decoration: none;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.linkft:hover{
    text-decoration: underline;
}
.nav-our {
    flex: 0 0 auto;
    width: 20%;
    padding-top: 60px;
}
.our{
    font-family: Inter-Semibold;
    font-size: 16px;
}
.type{
    list-style: none;
    padding-left: 0;
    padding-top: 30px;
}

.nav-about{
    flex: 0 0 auto;
    width: 25%;
    padding-left: 80px;
}
.nav-about .aboutcom {
    font-family: Inter-Semibold;
    font-size: 20px;
}
.aboutcompany {
    font-family: Inter-Regular;
    font-size: 16px;
    justify-content: space-between;
    list-style: none;
    padding-top: 15px;
    width: 320px;
}
.nav-about .nav-social .socialmedia{
    font-family: Inter-Semibold;
    font-size: 16px;
    padding-top: 35px;
}
.socialmedia-icon {
    justify-content: space-between;
    padding-top: 20px;
}
ul.socialmedia-icon a img{
    padding-right: 20px;
}
ul.socialmedia-icon a {
    text-decoration: none;
}